In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../news_clean/full_cleaned.csv')

In [3]:
df.head()

In [4]:
# train = pd.read_csv("../news_clean/full_cleaned_train.csv")
# len(train)

332820

In [5]:
# train["news_length"] = train["news_stopwords"].apply(lambda x: len(x.split()))
# train["title_length"] = train["title"].apply(lambda x: len(x.split()))

In [6]:
# train.head()

,title,news_stopwords,news_no_stopwords,category,news_length,title_length
0,चिया बगानले कर नतिरेपछि सङ्घीय सरकारको ध्यानाक...,इलाम र झापाका सरकारी चिया बगान लिजमा लिएको पक्...,इलाम झापाका सरकारी चिया बगान लिजमा लिएको पक्षल...,समाज,282,9
1,बिजुलीको पोल सार्न नयाँ मापदण्ड तयार,नेपाल विद्युत् प्राधिकरणले ग्राहकलाई विद्युत् ...,नेपाल विद्युत् प्राधिकरणले ग्राहकलाई विद्युत् ...,अर्थ / वाणिज्य,328,6
2,नेमारविनै पीएसजी विजयी,लिग लिडर स्टार पेरिस सेन्ट जर्मन ले स्ट्राइकर ...,लिग लिडर स्टार पेरिस सेन्ट जर्मन स्ट्राइकर नेम...,खेलकुद,130,3
3,कोरोनाको चुनौतीलाई सम्बोधन गर्न जापानद्वारा ७०...,सरकार र सत्तारुढ पार्टीको बैठकमा सम्बोधन गर्दै...,सरकार सत्तारुढ पार्टीको बैठकमा सम्बोधन प्रधानम...,अर्थ / वाणिज्य,72,11
4,युक्रेन द्वन्द्वको असर युरोपमा मात्र सीमित छैन...,युक्रेन द्वन्द्वको असर युरोपमा मात्र सीमित नरह...,युक्रेन द्वन्द्वको असर युरोपमा सीमित नरहेको भन...,विश्व,147,8

In [8]:
# len(train[train["news_length"] < 6])

19

In [9]:
# train = train[train["news_length"] > 5]

In [10]:
# len(train)

332801

In [11]:
# len(train[train["title_length"] < 2])

8

In [12]:
# news = train["news_stopwords"]
# headlines = train.drop(["news_stopwords", "news_length", "category"], axis=1)

In [13]:
# len(headlines), len(news)

(332801, 332801)

In [14]:
# headlines.head()

,title,news_no_stopwords,title_length
0,चिया बगानले कर नतिरेपछि सङ्घीय सरकारको ध्यानाक...,इलाम झापाका सरकारी चिया बगान लिजमा लिएको पक्षल...,9
1,बिजुलीको पोल सार्न नयाँ मापदण्ड तयार,नेपाल विद्युत् प्राधिकरणले ग्राहकलाई विद्युत् ...,6
2,नेमारविनै पीएसजी विजयी,लिग लिडर स्टार पेरिस सेन्ट जर्मन स्ट्राइकर नेम...,3
3,कोरोनाको चुनौतीलाई सम्बोधन गर्न जापानद्वारा ७०...,सरकार सत्तारुढ पार्टीको बैठकमा सम्बोधन प्रधानम...,11
4,युक्रेन द्वन्द्वको असर युरोपमा मात्र सीमित छैन...,युक्रेन द्वन्द्वको असर युरोपमा सीमित नरहेको भन...,8

In [15]:
# headlines = headlines[headlines["title_length"] > 1]

In [16]:
# len(headlines)

332793

In [17]:
# headlines = headlines[~headlines["title"].str.contains("०")]
# headlines = headlines[~headlines["title"].str.contains("१")]
# headlines = headlines[~headlines["title"].str.contains("२")]
# headlines = headlines[~headlines["title"].str.contains("३")]
# headlines = headlines[~headlines["title"].str.contains("४")]
# headlines = headlines[~headlines["title"].str.contains("५")]
# headlines = headlines[~headlines["title"].str.contains("६")]
# headlines = headlines[~headlines["title"].str.contains("७")]
# headlines = headlines[~headlines["title"].str.contains("८")]
# headlines = headlines[~headlines["title"].str.contains("९")]

In [18]:
# len(headlines)

261633

In [19]:
# news_headlines_txt = list(news) + list(headlines["title"])

In [20]:
# len(news_headlines_txt)

594434

In [21]:
# news_headlines_txt = pd.Series(news_headlines_txt)

In [22]:
# news_headlines_txt.to_csv('summarization_fasttext_train.txt', index=None)

In [21]:
len(df)

369800

In [11]:
df.dropna(inplace=True)
len(df)

371589

In [37]:
df["news_length"] = df["news"].apply(lambda x: len(x.split()))

In [41]:
len(df[df["news_length"] > 400])

24990